# Compiler binaries / object files
*.out
*.exe
*.o
*.obj
*.so
*.a
build/


# Ignore everything in week directories
week-*/**/*
# unignore folders and subfolders
!week-*/**/*

# except for these files here: 

!week-*/**/*.c
!week-*/**/*.h
