# Compiler binaries / object files
*.out
*.exe
*.o
*.obj
*.so
*.a
build/


# Ignore everything in week directories
week-*/**/*

# unignore folders and subfolders
!week-*/**/

#might still be buggy


# unignore these files here: 

!week-*/**/*.c
!week-*/**/*.h
!week-*/**/*.md

